# Configurações do Servidor
PORT=4000
NODE_ENV=production
JWT_SECRET=dismako_super_secret_jwt_key_2026

# Configurações do Banco de Dados PostgreSQL
POSTGRES_USER=dismako
POSTGRES_PASSWORD=dismako123
POSTGRES_DB=dismako_db
DATABASE_URL=postgresql://dismako:dismako123@postgres:5432/dismako_db?schema=public

# URL do Frontend (Dev)
FRONTEND_URL=http://localhost:5173
